/* ////////////////////////////// */
/* Aside */
/* ////////////////////////////// */
.aside {
  color: #fff;
  background-color: rgb(96, 138, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.img-dash {
  width: 40px;
}

.mrg-dash {
  margin: 2rem 0rem 6rem 3rem;
}

.mrg-right {
  margin-right: 1.4rem;
}

.mrg-right-2 {
  margin-right: 0.6rem;
}

.mrg-sp {
  margin-top: 6rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.mrg {
  margin: 0rem 0rem 3.2rem 4rem;
}
