* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

img {
  width: 25px;
}

/* ////////////////////// */

.container {
  max-width: 1540px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 2fr;
}

.header {
  color: #fff;
  height: 150px;
  background-color: gray;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main {
  background-color: lightcoral;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.aside {
  color: #fff;
  background-color: rgb(96, 138, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

/*  */

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.flex-2 {
  display: flex;
  flex-direction: column;
}

.grid-2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mrg-sp {
  margin-top: 6rem;
}

.mrg-dash {
  margin: 2rem 0rem 6rem 2rem;
}

.img-dash {
  width: 55px;
}

.mrg {
  margin: 0rem 0rem 4rem 3rem;
}

.mrg-right {
  margin-right: 3rem;
}

.mrg-right-2 {
  margin-right: 1rem;
}

.filter-white {
  filter: invert(100%) sepia(21%) saturate(0%) hue-rotate(297deg)
    brightness(101%) contrast(102%);
}

h1 {
  font-size: 2.8rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

/*  */
